<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dippa editor</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">Dippa editor</a>
            <ul class="nav">
                <li id="tab_doc" class="active" style="display: none"><a href="#">Document</a></li>
                <li id="tab_ref" style="display: none"><a href="#">References</a></li>
            </ul>
            <button id="save_button" class="btn danger editor_buttons" data-loading-text="saving document...">Save</button>
            <button id="preview_button" class="btn info editor_buttons" data-loading-text="Preview">Preview</button>
        </div>
    </div>
</div>

<div class="container" style="height: 100%">

    <div id="hero" class="hero-unit" style="display: none; margin-top: 60px;">
        <h1>Hello, this is Dippa Editor!</h1>
        <p>With Dippa Editor, you can create professional looking academic white papers. Dippa editor uses LaTeX for laying out your document, but don't worry, using LaTeX has never been this easy! With the web-based editor you can skip all the installing steps of LaTeX!</p>
        <p><a id="create_dippa" class="btn primary large">Create a new Dippa &raquo;</a></p>

        <div id="github_instructions" style="display: none">
            <div id="step1" class="step active">
                <h2><span style="font-size: 35px;">1.</span> Create a free Github account</h2>
                <p>
                    <a id="step1_done" class="btn success" style="float: right">Done</a>
                    If you don't already have one, <a href="https://github.com/signup/free">sign up here.</a>
                </p>
            </div>

            <div id="step2" class="step inactive">
                <h2><span style="font-size: 35px;">2.</span> Create a new Github repository</h2>
                <p>Log in and create a new empty repository. <a href="https://github.com/repositories/new">You can do it here.</a>
                    <a id="step2_done" class="btn success" style="float: right">Done</a>
                    <br />When your done, copy-paste your repository URL here:
                    <br />
                <form>
                    <div class="clearfix" id="repository_url_container">
                        <input id="repository_url" style="width: 400px;" />
                    </div>
                </form>
                </p>
            </div>

            <div id="step3" class="step inactive">
                <h2><span style="font-size: 35px;">3.</span> Add user "dippa" as a collaborator to the repository</h2>
                <p>
                    <a id="step3_done" class="btn success" style="float: right">Done</a>
                    Go to the admin section of your repository. <a id="admin_link" href="" target="_blank">You find the admin section here.</a> Type "dippa" to the input field and click add.
                </p>
            </div>
        </div>
    </div>

    <div id="info_header" class="row" style="display: none">
        <div class="span16">
            <h1>So, what's in it for me?</h1>
        </div>
    </div>

    <div id="info" class="row" style="display: none">
        <div class="span5">
            <h2>Online LaTeX editor</h2>
            <p><img src="img/ace.png" width="100" style="float: right; margin: 10px" />Dippa editor is an online LaTeX editor. It has a LaTeX <b>syntax hilighting</b> in it. Dippa editor uses <b>Ace editor</b> which is one of the best web-based editor components available.</p>
        </div>
        <div class="span5">
            <h2>Github integration</h2>
            <p><img src="img/github.png" width="100" style="float: right; margin: 10px" />Your Dippa is always in safe place! Thanks to the <b>Github integration</b>, you don't lose any of your stuff if the server room burns down or even if you delete yourself the whole document. Github provides a <b>version control system</b>, which means that it saves all the previous versions of your document. You can easily go back to the previous version, if something unexpected happens.</p>
        </div>
        <div class="span5">
            <h2>No need user accounts</h2>
            <p>After you've created a new Dippa, you'll be directed to <b>a secret URL</b> where your document is. You can come back to your document with this URL without typing username or password. Easy as it can be!</p>

        </div>
    </div>

    <div id="loader" style="position: relative; height: 50%; display: none">
        <div style="position: absolute; bottom: 0px; height: 20px; left: 0px; right: 0px; text-align: center">
            <img src="img/ajax-loader.gif" />
        </div>
    </div>

    <div id="editor_container" style="display: none; width: 900px; height: 100%; position: relative">
        <div style="position: absolute; top: 60px; bottom: 20px; left: 0; right: 0">
            <div id="editor" style="width: 900px; height: 100%"></div>
        </div>
    </div>

</div> <!-- /container -->

<a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10001" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="src/ace-unmin.js" type="text/javascript" charset="utf-8"></script>
<script src="src/mode-latex.js" type="text/javascript" charset="utf-8"></script>
<script>

window.Dippa = {};

var changed = false;

window.onbeforeunload = function (e) {
    if(!changed) {
        return;
    }

    e = e || window.event;

    // For IE and Firefox prior to version 4
    if (e) {
        e.returnValue = 'You have unsaved changes.';
    }

    // For Safari
    return 'You have unsaved changes.';
};

$(function() {

    var Hero = Spine.Controller.create({

        el: $('#hero'),
        events: {
            'click #create_dippa': 'createDippa',
            'click #step1_done': 'step1Done',
            'click #step2_done': 'step2Done',
            'click #step3_done': 'step3Done'
        },
        elements: {
            '#github_instructions': 'instructions',
            '#step1': 'step1',
            '#step2': 'step2',
            '#step3': 'step3',
            '#repository_url': 'repositoryUrl',
            '#repository_url_container': 'repositoryUrlContainer',
            '#admin_link': 'adminLink'
        },
        proxied: ['createRequest'],

        createDippa: function() {
            console.log('Dippa create clicked');
            this.instructions.slideDown();
            $('#info').fadeOut();
            $('#info_header').fadeOut();
        },

        step1Done: function() {
            this.inactivate(this.step1);
            this.activate(this.step2);
        },

        step2Done: function() {
            this.repositoryInfo = Dippa.Github.parseRepositoryUrl(this.repositoryUrl.val());

            if(!this.repositoryInfo) {
                this.repositoryUrlContainer.addClass('error');
                return;
            }

            this.repositoryUrlContainer.removeClass('error').addClass('success');

            this.adminLink.attr('href',
                    'https://github.com/' + this.repositoryInfo.owner + '/' +
                            this.repositoryInfo.name + '/admin/collaboration');

            this.inactivate(this.step2);
            this.activate(this.step3)
        },

        hideInstructions: function(callback) {
            this.instructions.slideUp(this.proxy(function() {
                var oldOffset = this.el.offset();
                var $temp = this.el.clone().appendTo('body');
                $temp.css('position', 'absolute')
                        .css('left', oldOffset.left)
                        .css('width', '820px')
                        .css('top', oldOffset.top)
                        .css('marginTop', 0)
                        .css('zIndex', 1000);
                this.el.hide();

                $temp.animate({
                    left: '-940'
                }, function() {
                    callback();
                });
            }));
        },

        step3Done: function() {
            this.hideInstructions(this.proxy(function() {
                $('#loader').show();
                this.createRequest();
            }));
        },

        activate: function(el) {
            el.animate({opacity: 1});
            el.find('p').slideDown();
        },

        inactivate: function(el) {
            el.animate({opacity: 0.25});
            el.find('p').slideUp();
        },

        createRequest: function() {
            $.ajax({
                url: 'create',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({repo: this.repositoryInfo}),
                error: function(err) {
                    // FIXME
                },
                complete: function(response) {
                    var id = response.responseText;
                    history.pushState({}, "", id);

                    $('#loader').hide();

                    $('#editor_container').show('slow', function() {
                        loadId(id);
                    });
                }
            });
        }

    }).init();

    var docContent, refContent, mode, editor, session, LatexMode;

    function setMode(newMode) {
        if(mode === newMode) {
            return;
        }

        if(mode === "doc") {
            docContent = session.getValue();
        }

        if(mode === "ref") {
            refContent = session.getValue();
        }

        if(newMode === "doc") {
            session.setValue(docContent);
            session.setMode(new LatexMode());
            session.setUseWrapMode(true);
        }

        if(newMode === "ref") {

            session.setValue(refContent);
            session.setUseWrapMode(true);
        }

        mode = newMode;

        // FIXME
        changed = false;
    }

    function loadId(id) {
        editor = ace.edit("editor");
        session = editor.getSession();

        LatexMode = require("ace/mode/latex").Mode;

        session.on('change', function() {
            changed = true;
        });

        $('.editor_buttons').fadeIn('slow');
        $('#tab_doc').fadeIn('slow');
        $('#tab_ref').fadeIn('slow');

        editor.setShowPrintMargin(false);

        $('#save_button').click(function() {
            var $saveButton = $(this);
            var $previewButton = $('#preview_button');

            $saveButton.button('loading');
            $previewButton.button('loading');

            // Update doc/refContent
            if(mode === "doc") {
                docContent = session.getValue();
            }
            if(mode === "ref") {
                refContent = session.getValue();
            }

            // FIX THIS THIS IS BROKEN!!!
            var value = JSON.stringify({documentContent: docContent, referencesContent: refContent});

            $.ajax({
                type: "POST",
                url: 'save/' + id,
                dataType: 'json',
                contentType: 'application/json',
                data: value,
                processData: false,
                complete: function(response) {
                    $saveButton.button('reset');
                    $previewButton.button('reset');
                    changed = false;
                }
            });
        });

        $('#preview_button').click(function() {
            window.open('preview/' + id + '.pdf', '_newtab');
        });

        $.ajax({
            url: 'load/' +id,
            dataType: 'json',
            success: function(content) {
                docContent = content.documentContent;
                refContent = content.referencesContent;

                setMode("doc");
            }
        });
    }

    var splittedPath = window.location.pathname.split('/');
    var id = splittedPath.pop();

    if(!id) {

        var repoInfo;

        $('#hero').show();
        $('#info_header').show();
        $('#info').show();

        console.log('IDNULL');

        function activate(el) {
            console.log('activate', el);
            el.animate({opacity: 1});
            el.find('p').slideDown();
        }

        function inactivate(el) {
            console.log('inactivate', el);
            el.animate({opacity: 0.25});
            el.find('p').slideUp();
        }

        $('#step2_done').click(function() {
            debugger;

        });
        $('#step3_done').click(function() {

        });

        $('#step2').css('opacity', 0.25).find('p').hide();
        $('#step3').css('opacity', 0.25).find('p').hide();;

    } else {
        loadId(id);
        $('#editor_container').show();
    }

    var $tab_doc = $('#tab_doc');
    var $tab_ref = $('#tab_ref');

    $tab_doc.click(function() {
        $tab_ref.removeClass('active');
        $tab_doc.addClass('active');

        setMode("doc");
    });

    $tab_ref.click(function() {
        $tab_doc.removeClass('active');
        $tab_ref.addClass('active');

        setMode("ref");
    })

});

</script>
<script src="scripts/github.js"></script>
<script src="scripts/bootstrap-buttons.js"></script>
<script src="scripts/spine/spine.js"></script>

</body>
</html>
